/*alineando al centro sin usar margin con px*/

.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.container-nav {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue;
}

.container-root {
  background-image: url("../images/baner01.PNG");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-btn {
  width: 400px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: burlywood;
}
