/*alineando al centro sin usar margin con px*/

.App {
  text-align: center;
}




.container-root {
  background-image: url("../images/baner01.PNG");
 height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.container-btn {
  width: 400px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: burlywood;
}


.NoLogin {
 
  color: red;
  margin: auto;
}


.Login {
 margin: auto;
  color: green;
}